{% extends "layout.html" %}

{% include 'navbar.html' %}

{% block content %}
    <div class="container">
        <h1 class="my-4">Range Plot</h1>
        <form action="{{ url_for('plot') }}" method="post">
            <div class="row mb-4 d-flex align-items-end">
                <div class="col-md-4">
                    <label for="start_date" class="form-label">Start Date:</label>
                    <input type="date" id="start_date" name="start_date" class="form-control" required>
                </div>
                <div class="col-md-4">
                    <label for="end_date" class="form-label">End Date:</label>
                    <input type="date" id="end_date" name="end_date" class="form-control" required disabled>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">Generate Plot</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
